@import "base.css";

html {
    --flex-item-size: 33vw;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flex-item {
    position: relative;
}

.flex-item img {
    width: var(--flex-item-size);
    height: auto;
}

.front {
    position: absolute;
    left: 0px;
    top: 0px;
    clip-path: circle(0%);
    transition: clip-path 2s;
}

.flex-item:hover .front{
    clip-path: circle(100%);
}